{% extends 'base.html' %}

{% block content %}

<h3>Terms and Conditions</h3>

<p>By accessing and using this website, you accept and agree to be bound by the following terms and conditions:</p>

<h4>Ownership of Content</h4>
<p>All content on this website, including but not limited to text, graphics, logos, images, and software, is the property of Limo Kiprono and Joseph Wamtitu, unless otherwise indicated, and is protected by applicable intellectual property laws.</p>

<h4>Use of Content</h4>
<p>You may use the content on this website for personal, non-commercial purposes only. You may not modify, reproduce, distribute, transmit, display, perform, publish, license, create derivative works from, or sell any information, software, products or services obtained from this website without the prior written consent of Limo Kiprono and Joseph Wamtitu.</p>

<h4>Disclaimer of Warranties</h4>
<p>This website and its content are provided "as is" and without warranties of any kind, whether express or implied. Limo Kiprono and Joseph Wamtitu do not warrant that this website will be uninterrupted or error-free, or that any defects will be corrected.</p>

<h4>Limitation of Liability</h4>
<p>Limo Kiprono and Joseph Wamtitu shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your access to or use of this website or its content.</p>

<h4>Changes to Terms and Conditions</h4>
<p>Limo Kiprono and Joseph Wamtitu may modify these terms and conditions at any time without notice. Your continued use of this website following any such modification constitutes your acceptance of the revised terms and conditions.</p>

{% endblock %}
